section{
      /* width: 500px; */
    margin:0 200px;
    text-align: center;
}

h1{
    border:2px dotted purple;
    border-radius: 40px;
    padding: 5px;
    margin:0;
    font-size:2em;
}

h2 {
    border: 1px solid purple;
    border-radius: 15px;
    box-shadow: 5px 5px 15px -7px #6a1f6e;
    padding: 10px;
}

h3{
    border-width:10px;
    border-color: purple;
    border-style: double;
    border-radius: 15px;
    padding: 5px;
}

p {
    border:1px solid orange;
    padding: 15px;
    margin:15px 30px;
}

ul, ol{
    border: 1px solid rgb(235, 209, 185);
    text-align: left;
    padding: 15px 40px;
    margin:20px 30px;
}

li{
    border-bottom:  1px solid red;
}